<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Let's play {{ title }}!
  </h1>
  <hr>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <div class="container" *ngIf="game.turns===totalTurns">
  <button class="button" (click)="start()">Start</button>
</div> -->
<div class="container main-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 game-section">
            <div class="row">
                <button class="button" (click)="play()" *ngIf="isGameInProgress()">Play</button>
            </div>
          <div class="row" [ngSwitch]="game.current_state">
            <div *ngSwitchCase = "states.SHUFFLE">
                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor='let player of players'>
                      <div class="row" style="text-align:center">
                        <h2>{{player.name}}</h2>
                      </div>
                      <div class="row button card">
                        <div style="background-color:rgba(0, 0, 0, 0.87)">
                        </div>
                      </div>
                      <div class="row" style="text-align:center"><h2>{{player.getPoints()}}</h2></div>
                    </div>  
            </div>
            <div *ngSwitchCase = "states.START">
                
                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor='let player of players'>
                      <div class="row" style="text-align:center">
                        <h2>{{player.name}}</h2>
                      </div>
                      <div class="row button card" (click)="selectCard(player);">
                        <div style="text-align: center" [hidden]="player.card.isHide()">
                          <img alt="CSRM" [src]="player.card.getIconPath()" width="120" height="120">
                          <h3>{{player.card.getPoint()}}</h3>
                        </div>
                      </div>
                      <div class="row" style="text-align:center"><h2>{{player.getPoints()}}</h2></div>
                    </div>  
                  
            </div>
            <div *ngSwitchCase = "states.MOVE">
                
                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor='let player of players'>
                      <div class="row" style="text-align:center">
                        <h2>{{player.name}}</h2>
                      </div>
                      <div class="row button card">
                        <div style="text-align: center">
                          <img alt="CSRM" [src]="player.card.getIconPath()" width="120" height="120">
                          <h3>{{player.card.getPoint()}}</h3>
                        </div>
                      </div>
                      <div class="row" style="text-align:center"><h2>{{player.getPoints()}}</h2></div>
                    </div>  
                
            </div>
            <div *ngSwitchCase = "states.COMPLETE">
                
                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor='let player of players'>
                      <div class="row" style="text-align:center">
                        <h2>{{player.name}}</h2>
                      </div>
                      <div class="row button card">
                        <div style="text-align: center">
                          <img alt="CSRM" [src]="player.card.getIconPath()" width="120" height="120">
                          <h3>{{player.card.getPoint()}}</h3>
                        </div>
                      </div>
                      <div class="row" style="text-align:center"><h2>{{player.getPoints()}}</h2></div>
                    </div>  
                
            </div>
          </div>
        
    </div>

  </div>
</div>


